* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  height: fit-content;
}

#playerBoard,
#opponentBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 360px;
}

.cell {
  width: 36px;
  height: 36px;
  border: 1px solid black;
}

#positive {
  background-color: rgb(0, 0, 0, 0.5);
}

#negative {
  background-color: rgba(0, 38, 251, 0.5);
}

#positive:hover {
  background-color: rgb(0, 0, 0, 0.7);
}

#negative:hover {
  background-color: rgba(0, 38, 251, 0.7);
}
